<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MobileTests" parallel="false">

    <test name="Android Tests">
        <parameter name="device" value="emulator-5556" />
        <parameter name="platform" value="ANDROID" />
        <classes>
            <class name="tests.SauceVideo" >
                <methods>
                    <include name="apiCalls"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
